body {
  background-color: #010165;
  margin: 0px;
}

.header {
  background-color: #00ffff;
  text-align: center;
}

.title-row {
  margin-top: 42px;
  margin-bottom: 21px;
  text-align: center;
}

.instructions-title {
  display: inline;
  color: #00ffff;
  font-size: 18px;
  font-family: 'Work Sans';
}

.instructions-row {
  margin:  auto;
  padding: 10px;
  width: 400px;
  border: 5px dotted black;
  border-radius: 10px;
}

.instructions-number {
  padding-right: 25px;
  font-family: 'Work Sans';
  font-size: 36px;
  color: #00ffff
}

.instructions-text {
  padding: 10px;
  font-family: 'Work Sans';
  font-size: 14px;
  color: #ffffff;
}

.door-frame{
  cursor: pointer;
  margin: 10px;
  border: 5px solid #00ffff;
}

.door-row {
  text-align: center;
}

.start-row {
	margin: auto;
  width: 200px;
  height: 60px;
  padding-top: 20px;
  text-align: center;
}

#startButton {
  cursor: pointer;
  margin: auto;
  padding: auto;
  height: 40px;
  width: auto;
  font-family: 'Work-Sans';
  background-color: #eb6536;
  color: #010165;
  font-size: 18px;
  text-shadow: 1px 1px 1px black;
}
